<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <h1>IRunes</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/Albums/All">Albums</a>
            </li>
            <li>
                <a href="/Users/Logout">Logout</a>
            </li>
        </ul>
        <hr />
    </nav>
    <main>
        <h1>Create Track</h1>
        {{errorMessage}}
        <hr />
        <form method="post" action="/Tracks/Create?albumId={{albumId}}">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name..." />
            <br />
            <label for="name">Link</label>
            <input type="text" name="link" placeholder="Link..." />
            <br />
            <label for="price">Price</label>
            <input type="number" name="price" placeholder="Price..." />
            <br />
            <button>Create</button>
        </form>
        <hr />
        <a href="/Albums/Details?id={{albumId}}">Back To Album</a>
    </main>
    <footer>
        <hr />
        <p><strong>CopyRight &#x24B8; Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>