<div class="row">
    <div class="offset-md-3 col-md-6">
        <h1 class="text-center text-success">Create Album</h1>
        <hr class="bg-success" style="height: 2px" />

        <form class="form-group" method="post" action="Create">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Name..." />
            <br />
            <label for="name">Cover Url</label>
            <input class="form-control" type="text" name="cover" placeholder="Cover..." />
            <br />
            <hr class="bg-success" style="height: 2px" />
            <div class="inline-block">
                <button type="submit" class="btn btn-success offset-md-3 float-left">Create</button>
                <a class="btn btn-success float-right" href="/Albums/All">Back To All</a>
            </div>
        </form>
    </div>
</div>