<div class="row">
    <div class="card col-md-4" style="width: 18rem">
        <img class="card-img-top" src="{{albumCover}}" alt="{{albumName}}">
        <div class="card-body">
            <h5 class="card-title">Album Name: {{albumName}}</h5>
            <h5 class="card-title">Album Price: ${{albumPrice}}</h5>
            <a class="btn btn-success float-left" href="/Tracks/Create?id={{albumId}}">Create Track</a>
            <a class="btn btn-success float-right" href="/Albums/All">Back To All</a>
        </div>
    </div>
    <div class="offset-md-2">
        <h5>Tracks</h5>
        {{albumTracks}}
    </div>
</div>