<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <main>
        <h1>Login</h1>
        {{errorMessage}}
        <form method="post" action="/Users/Login">
            <label for="username">Username/Email</label>
            <input type="text" name="username" />
            <br />
            <label for="password">Password</label>
            <input type="password" name="password" />
            <br />
            <button>Login</button>
        </form>
    </main>
    <footer>
        <hr />
        <p><strong>CopyRight &#x24B8; Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>